*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header-google{
    background-color: #ddd;
    padding: 20px 10px;
   
    

}

.google-logo{
    height: 60px;
    object-fit: cover;
    background-color:#ddd;
    margin-right: 20px;

}

.second-heading{
    
    font-size: 50px;
    text-transform: capitalize;
    
}
.google-kill{
    padding: 50px;
}
.heading-google-kill{
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
}
.second-logo{
    height: 40px;
    object-fit: cover;
    display: inline-block;

}
.logo-box::after{
    content: '!';
    color:#000;
    width: 100%;
    height: 100%;
    font-size: 40px;

}
.card-section{
    background-color: #ddd;
    padding: 50px 10px;
}
.card{
    padding: 30px 10px 0px;
    height: 100%;
    width: 100%;
    transform: scale(1);
    transition: all .4s ease-in-out;
}
.card:hover{
    transform: scale(1.08);
}
.c-body{
    position: relative;
   
}
.hard{
    font-size: 14px;
    color:#fff;
    overflow:hidden;
    position: absolute;
    top:0px;
    right: 0px;
    transform: translate(2px,-22px);
   
}
.card-heading-1{
    font-size:26px ;
    border-radius: 3px;
    padding: 5px;
}
.card-heading-2{
    font-size: 20px;
    font-weight: 600;
}
.para{
   
       white-space:nowrap ;
       text-overflow: ellipsis;
        overflow: hidden;
        font-size: 14px;
        margin-bottom: 60px;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.orange{
    background-color: orange;
}

